<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        <link rel="stylesheet" href="https://use.typekit.net/ooj2ftr.css" />
    </head>
    <body class="font-sans leading-normal font-light text-lg text-gray-700">
        {{ partial:nav }}
        <main class="overflow-x-hidden">{{ template_content }}</main>
        {{ partial:footer }}
    </body>
</html>
