<article class="flex flex-col mt-28 content-wrapper gap-8 py-32 border border-gray-200 items-center justify-center text-center relative">
                {{ collection:sections id:is="0b5f6272-6f29-4350-a7ce-55f5b50d9d19"
            }}
                <h2 class="font-heading text-4xl text-gray-900">{{ title }}</h2>
                <div class="text-xl leading-normal max-w-2xl">
                    {{ content }}
                </div>
                <a
                    href="{{ action_link }}"
                    class="callout-link small-title inline-block"
                    >{{ action_text }}</a
                >
            </div>

            {{ /collection:sections }}


</article>